
.HeaderTitle h1{
    position: relative;
}
.HeaderTitle h1::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    background-color: #a98735;
    left: -15px;
}
.overlay.overlay-op-9:hover:before, .overlay.overlay-op-9.overlay-show:before, .overlay.overlay-op-9.show:before{
    opacity: 0.7;
}